%section.section.is-medium.has-white-backgroud#about
  .container
    .columns.is-vcentered
      .column.is-6.is-5-fullhd.is-offset-1-fullhd
        .section-header
          %h2.title.is-2.is-spaced
            = t('.title')
            %span.is-focused
              = t('.focuse')
          %p= simple_format(t('.paragraph'), class: 'is-paragraph')
      .column.is-6
        .section-media
          =image_tag("h100.png", alt: "Autotransportes Balderas", class: 'home-image')
