%section.section#coverage
  .hero-body
    .container.has-text-centered
      .columns.is-vcentered
        .column.is-5
          %figure.image.is-4by3
            =image_tag("map.png", class: 'coverage-country', alt: "#{t('.company_name')}")
        .column.is-6.is-offset-1
          %h2.title.is-2.is-spaced
            = t('.title')
          %p= simple_format(t('.focuse'), class: 'is-paragraph')
