%section.hero.is-light
  .hero-body
    .container
      %h1.title Nuestros clientes
      %p= t('services.description')
      .hero-body
        .carousel.carousel-animated.carousel-animate-slide{"data-size" => "5"}
          .carousel-container{:style => "left: -220.4px; transform: translateX(220.4px);"}
            .carousel-item.is-active{:style => "flex-basis: 220.4px; order: 1; z-index: 1;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "http://www.plazacaracol.mx/uploads/empresa/acf605b5c89c197d2cd893753b208204e152cc67.png"}
            .carousel-item{:style => "flex-basis: 220.4px; order: 2; z-index: 0;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "https://storis-gttrmk1tc8kkytbh2joa944ejszi8yj.netdna-ssl.com/wp-content/uploads/2015/05/NEW_FAMSA_Logo_Homepage-compressor.png"}
            .carousel-item{:style => "flex-basis: 220.4px; order: 3; z-index: 0;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "http://www.theparadigmagate.com/wp-content/uploads/2015/05/nuestros-clientes_0010_uvm.png"}
            .carousel-item{:style => "flex-basis: 220.4px; order: 4; z-index: 0;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "http://blog.a-l.com.mx/wp-content/uploads/2017/02/Mariano_Escobedo_Web.png"}
            .carousel-item{:style => "flex-basis: 220.4px; order: 5; z-index: 0;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "https://runahr.com/wp-content/themes/runa-new/dist/img/runa-logo.png"}
            .carousel-item{:style => "flex-basis: 220.4px; order: 6; z-index: 0;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "https://upload.wikimedia.org/wikipedia/commons/c/c7/Resuelve_tu_deuda.png"}
            .carousel-item{:style => "flex-basis: 220.4px; order: 0; z-index: 0;"}
              %figure.image.is-2by1
                %img{:draggable => "false", :src => "http://blog.a-l.com.mx/wp-content/uploads/2016/08/Logo_Tepepan_M.png"}
          .carousel-navigation.is-centered
            .carousel-nav-left
              %i.fa.fa-chevron-left{"aria-hidden" => "true"}
            .carousel-nav-right
              %i.fa.fa-chevron-right{"aria-hidden" => "true"}
