@import "bulma";
@import 'bulma-extensions';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400|Roboto');
@import "variables";
@import "navbar";
@import "about";
@import "slider";
@import "services";

.facebook {
  color: $is-white;
}

.twitter {
  color: $twitter;
}

.youtube {
  color: $youtube;
}

.linkedin {
  color: $linkedin;
}

.whatsapp {
  color: $whatsapp;
}

.has-dark-blue-backgroud {
  background: $is-dark-blue;
}

.has-blue-backgroud {
  background: $is-blue;
}

.has-white-backgroud {
  background: $is-white;
}

.has-light-font-color {
  color: $light-font;
}

.has-strong-font-color {

}

.is-white {
  color: $is-white;
}

.is-blue {
  color: $is-blue;
}

.is-dark-blue {
  color: $is-dark-blue;
}

.is-pink {
  color: $is-pink;
}

.call-to-action {
  background: $is-orange;
  border-color: $is-orange;
  color: $is-white;
  &:hover {
    background-color: $is-hover-orange;
    border-color: $is-hover-orange;
    color: $is-white;
  }
}
