// colors
$is-blue: #26bad4;
$is-hover-blue: #20a9c1;
$is-black: #000000;
$is-light: #f3f3f3;
$is-white: #ffffff;
$is-dark-blue: #37474f;
$is-pink: #ff4081;
$is-dark-pink: #e63470;
$is-orange: #FF5F00;
$is-hover-orange: #ea5902;

// fonts
$strong-font: #463853;
$light-font: #998DA0;
$very-light-font: #b5b5b5;
// social media
$youtube: #ff0000;
$facebook: #3B5998;
$twitter: #55acee;
$github: #333;
$instagram: #bc2a8d;
$medium: #00ab6c;
$linkedin: #0077b5;
$rss: #f26522;
$whatsapp: #25d366;
